extends layout

block content
  .listCtrl(ng-controller='DataListCtrl')
    .ui.segment.piled
      li(ng-repeat="phone in phones")
          .ui.segment.blue(phone-list)
      li
        .ui.segment.blue(phone-list)
    input(type='text' name='phoneName' ng-model='phone.name')
    input(type='text' name='phoneSnippet' ng-model='phone.snippet')
    input(type='submit')
