extends layout

block content
  .listCtrl
    .form(ng-controller='DataListCtrl as dataCtrl' ng-submit='dataCtrl.addData()')
      .ui.segment.piled
        .ui.stackable.items
          .item(ng-repeat="phone in phones")
            div(phone-list)
          .item
            {{dataCtrl.data.name}}
            p {{dataCtrl.data.snippet}}
      input(type='text' name='dataName' ng-model='dataCtrl.data.name')
      input(type='text' name='dataSnippet' ng-model='dataCtrl.data.snippet')
      input(type='submit')
